<!DOCTYPE html>
<html lang="zh">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title></title>
	<style>
		.message {
			width: 100%;
			color: #fff;
			background: green;
		}

		.fade-enter,
		.fade-leave-to {
			opacity: 0
		}

		.fade-enter-active,
		.fade-leave-active {
			transition: opacity .5s;
		}

		.jump-enter-active,
		.jump-leave-active {
			transition: opacity .5s;
		}
	</style>
</head>

<body>
	<!-- 宿主文件 -->
	<div id="app"></div>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" type="text/javascript" charset="utf-8"></script>
	<script src="https://cdn.bootcdn.net/ajax/libs/vue-router/2.1.0/vue-router.min.js"></script>
	<script src="https://cdn.bootcdn.net/ajax/libs/vuex/3.6.2/vuex.min.js"></script>
	<script src="./plugin.js"></script>
	<script>
		Vue.use(Myplugin)
		Vue.prototype.$subs = new Vue();

		// 使用vuex
		Vue.use(Vuex);

		// vuex插件 
		const vuexplugins = store => {
			if (localStorage) {
				store.commit('SET_USERINFO', localStorage.getItem('userinfo') || 'admin')
			}

			store.subscribe((mutations, state) => {
				if (mutations.type === 'SET_USERINFO') {
					localStorage.setItem('userinfo', state.userinfo)
				}
			})
		}

		const store = new Vuex.Store({
			state: {
				userinfo: 'admin'
			},
			getters: {
				userclone(state) {
					return state.userinfo + '大佬'
				}
			},
			mutations: {
				SET_USERINFO(state, userinfo) {
					state.userinfo = userinfo;
				}
			},
			actions: {
				SET_USE(context, userinfo) {
					new Promise((resolve, reject) => {
						setTimeout(() => {
							context.commit('SET_USERINFO', userinfo);
							resolve()
						}, 1000)
					})
				}
			},
			plugins: [vuexplugins]
		})

		Vue.component('data-list', {
			props: {
				course: {
					type: Array,
					default: []
				}
			},
			data() {
				return {

				}
			},
			methods: {

			},
			template: `
					<ul>
						<transition-group name="fade">
							<li v-for="list in course" :key="list">
								{{list}}
							</li>
						</transition-group>
					</ul>
				`
		})

		Vue.component('message-success', {
			data() {
				return {
					show: false
				}
			},
			mounted() {
				this.$subs.$on('message-handler', () => {
					this.toggleShow();
				})
			},
			methods: {
				toggleShow() {
					this.show = !this.show;
				},
				beforeEnter(el) {
					el.style.opacity = 0;
				},
				enter(el, done) {
					document.body.offsetHeight; // 触发回流
					el.style.opacity = 1;
					el.addEventListener('transitionend', done);
				},
				beforeLeave(el) {
					el.style.opacity = 1;
				},
				leave(el, done) {
					document.body.offsetHeight; // 触发回流
					el.style.opacity = 0;
					el.addEventListener('transitionend', done);
				}
			},
			template: `
				<transition name="jump"
				@before-enter="beforeEnter"
				@enter="enter"
				@before-leave="beforeLeave"
				@leave="leave"
				>
					<div class="message" v-if="show">
						<slot name="title" :s="123"></slot>
						<span @click="$subs.$emit('message-handler')">X</span>
					</div>
				</transition>
			`,
		})

		// 测试render函数以及functional函数组件
		Vue.component('test-render', {
			functional: true,
			props: {
				title: {
					type: String,
					default: '默认标题'
				}
			},
			render(h, context) {
				const { title } = context.props;
				return h('div', [
					h('span', title)
				])
			}
		})

		//  测试路由

		let home = Vue.component('home', {
			created() {
				console.log('this is home')
			},
			render(h) {
				return h('div', [
					h('span', '这是首页')
				])
			},
			beforeRouteEnter(to, from, next) {
				console.log(to)
			}
		})
		let device = Vue.component('device', {
			created() {
				console.log('this is device')
			},
			render(h) {
				return h('div', [
					h('span', '这是设备页')
				])
			}
		})

		const routes = [
			{
				path: '/',
				component: home,
				beforeEnter(to, from, next) {
					// console.log(to);
					next();
				}
			},
			{
				path: '/device',
				component: device
			}
		]

		const router = new VueRouter({
			routes
		})

		// router.beforeEach((to, from, next) => {

		// })



		let vm = new Vue({
			store,
			router,
			el: '#app',
			data() {
				return {
					text: '',
					title: '这是标题',
					course: [

					]
				}
			},
			computed: {
				...Vuex.mapGetters(['userclone']),
			},
			created() {
				this['SET_USE']('newName')
				// this.$store.dispatch('SET_USE', 'newName')
			},
			methods: {
				testMessage() {
					this.$subs.$emit('message-handler')
				},
				addCourse() {
					this.course.push(this.text)
				},
				...Vuex.mapActions(['SET_USE'])
			},
			directives: {
				focus: {
					inserted(el) {
						// el 是挂载后的dom
						el.focus();
					}
				}
			},
			template: `
				<div>
					{{title}}
					<span>{{userclone}}，欢迎回来</span>
					<message-success ref="messageSuccess">
						<template v-slot:title="target">{{target.s}}这是slot标题</template>
					</message-success>
					<input v-model="text" v-focus @keydown.enter="addCourse"></input>
					<data-list v-bind:course="course"></data-list>
					<test-render :title="'测试render函数'"></test-render>
					<plugin-test></plugin-test>
					<button @click="testMessage">弹窗</button>
					<div>路由测试</div>
					<router-link to="/">1</router-link>
					<router-link to="/device">2</router-link>
					<keep-alive exclude="home">
						<router-view></router-view>
						</keep-alive>
				</div>
			`
		})
	</script>
</body>

</html>
